/* Optimizer.css */
.optimizer-section {
    background-color: var(--secondary-background-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: auto;
    box-sizing: border-box;
    padding-bottom: 70px;
}

.weight-display {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.weight-display-header {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.weight-display-content {
    display: flex;
    width: 100%;
}

.pie-chart-container, .table-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    min-width: 250px;
}

.pie-chart-container {
    border-right: 1px solid var(--border-color);
}

.table-container {
    overflow-x: auto;
}

.sliders-container {
    padding: 20px;
    margin-top: 20px;
    background-color: var(--secondary-background-color);
    border-top: 1px solid var(--border-color);
}

.controls {
    display: flex;
    justify-content: space-around; /* Distributes space evenly around buttons */
    margin-top: 20px; /* Gives some space above the buttons */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: var(--foreground-color);
    background-color: var(--accent-color);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    /* Visually separates buttons when they are side by side */
    margin-right: 10px;
}

button:hover {
    background-color: darken(var(--accent-color), 10%);
}

button:last-child {
    margin-right: 0; /* Removes margin from the last button */
}

.optimization-tools {
    flex-grow: 2;
}
