/* PortfolioSummary.css */
.portfolio-summary {
    background-color: var(--secondary-background-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: auto;
    box-sizing: border-box;
    padding-bottom: 80px;
}

.summary-top {
    margin-bottom: 20px;
}

.statistics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.statistic {
    flex: 1;
    min-width: 150px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    margin: 10px;
    text-align: center;
}

.summary-bottom {
    width: 100%;
    height: 300px;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    justify-content: flex-start;
}

.button-group button {
    margin-right: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button-group button.active,
.button-group button:hover {
    background-color: var(--blue-accent-color); /* Use blue accent color */
    color: white;
}

.date-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

h3 {
    margin-top: 0;
}
