/* Layout.css */
/* Define theme variables for colors and common styles */
:root {
    --background-color: #1e1e1e; /* Dark grey, base background color */
    --foreground-color: #d4d4d4; /* Light grey, primary text color */
    --accent-color: #007acc; /* Blue, for highlights and important elements */
    --border-color: #3c3c3c; /* Slightly lighter grey, for borders and separators */
    --secondary-background-color: #252526; /* A shade darker for background of elements */
    --box-shadow-color: rgba(0, 0, 0, 0.1); /* Shadow for elevated elements */
}

/* Global styles */
html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--secondary-background-color);
    color: var(--foreground-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

/* Layout and container styles */
.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 50px;
}

.header {
    width: 100%;
    padding: 15px 20px;
    background-color: var(--secondary-background-color);
    color: var(--foreground-color);
    font-size: 24px;
    text-align: left;
    box-shadow: 0 4px 6px var(--box-shadow-color);
    border-bottom: 1px solid var(--border-color);
    position: relative;
    z-index: 1000;
}

.header h1 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

/* Portfolio builder styles */
.portfolio-builder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 45%;
    min-width: 420px;
    padding-left: 0px;
    padding-bottom: 70px;
    background-color: var(--secondary-background-color);
    color: var(--foreground-color);
    overflow: auto;
}

.ticker-form, .portfolio-builder {
    width: 100%;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--box-shadow-color);
    border: 1px solid var(--border-color);
}

/* Customization tools styles */
.customization-tools {
    background-color: var(--secondary-background-color);
    width: 55%;
    min-width: 515px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-left: 1px solid var(--border-color);
    padding-bottom: 70px;
}

.tab-toolbar {
    background-color: var(--secondary-background-color);
    padding: 0;
    display: flex;
    border-bottom: 1px solid var(--border-color);
}

.tab-toolbar button {
    flex-grow: 1;
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    color: var(--foreground-color);
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease;
    border-bottom: 3px solid transparent;
}

.tab-toolbar button:hover, .tab-toolbar button.active {
    background-color: var(--background-color);
    border-bottom-color: var(--accent-color);
    color: var(--accent-color);
}

/* Responsive design improvements */
@media (max-width: 1024px) {
    .main-container {
        flex-direction: column;
    }

    .portfolio-builder, .customization-tools {
        width: 100%;
        min-width: unset;
    }
}
