/* PortfolioTable.css */

.portfolio-table {
    width: 100%;
    overflow: auto;  /* Allows for scrolling if the table overflows */
    background-color: var(--secondary-background-color);
    color: var(--foreground-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--box-shadow-color);
    margin-top: 20px; /* Add margin to separate from other elements */
}

.portfolio-table table {
    width: 100%; /* Ensures the table uses all available space */
    border-collapse: collapse; /* Eliminates space between cells */
    font-size: 16px; /* Adequate text size for readability */
}

.portfolio-table th, 
.portfolio-table td {
    text-align: left;
    padding: 12px 20px; /* Comfortable padding around text */
    border-bottom: 1px solid var(--border-color); /* Adds a subtle separator */
}

.portfolio-table th {
    background-color: var(--accent-color); /* Blue color for headers to stand out */
    color: var(--secondary-background-color); /* Light color for text to contrast with header background */
    font-weight: bold; /* Make the header text bold */
}

.portfolio-table tr:last-child td {
    border-bottom: none; /* Removes border from the last row for a cleaner look */
}

.portfolio-table tbody tr:hover {
    background-color: var(--background-color); /* Highlight row on hover */
}
